.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-container img
  {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Ensure the image is treated as a block element */
    margin: auto; /* Center the image within its parent */
  }