* {
  font-family: 'Fira Sans';
}

.review-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0px;

  }
    
  .review-form-container {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 1em;
    margin-top: 0;
    padding-top: 0;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    height: 100%;
  }

  .review-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 1em;
    padding-bottom: 0;


  }

  .review-container h3 {
    font-size: 1em;
  }
  
  .review-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
  }
  
  .review-container input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .left-pane, .middle-pane, .right-pane {
    background-color: #fff;

  }
  
  .review-container button {

    background-color: #2980b9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
    transform: translateY(-10px)
  }
  
  .review-container button:hover {
    background-color: #2980b9;
  }

  .review-container .recent-reviews {
    margin-left: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 200px 200px 200px;
    row-gap: 1em;
    column-gap: 1em;
    padding: 2em;
    margin-top: 0;

    padding-bottom: 29px;

  }

  .review-container .recent-reviews .review {
    background-color: #dddcdc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .review-container .recent-reviews .alt-review {
    background-color: #3498db;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;


  }

  .review-container .recent-reviews .review-text {
    text-align: center;
  }

  .review-container .recent-reviews .reviewer {
    text-align: left;
  }

  .recent-reviews .review,
.recent-reviews .alt-review {
  background-color: #dddcdc;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: auto; /* Adjust the sizing */
  min-height: auto; /* Adjust the sizing */


}
