.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tracking-form {
    width: 75%;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .tracking-form label {
    display: block;
    margin-bottom: 10px;
  }

  .tracking-form input {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .tracking-form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #2980b9; /* Change the background color on hover */
  }

  .status-box {
    background-color: #f9f9f9;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
  }
  
  .status-collection {
    display: block;
    flex-direction: column;
  }
  
  .status {
    text-align: left; /* Align text within the status to the left */
    margin-bottom: 10px; /* Add margin between each status item */
  }
  
  /* Additional styling for better presentation */
  .status h3 {
    margin: 0; /* Remove default margin on h3 */
  }
  
  .status p {
    margin: 0; /* Remove default margin on p */
  }